body{
	margin:0 !important;
	background: url("images/background.png");
}

@font-face {
    font-family: Kazincbarcika;
    src: url("fonts/MfKazincbarcika.ttf");
}

* {
	outline-color: #0083a9 !important;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}

.navbar .navbar-nav.navbar-right .btn {
	margin: 8px;
}

.main-container {
	margin-top: 80px;
}

.auth-title {
	font-family: Kazincbarcika;
	width: 100%;
	text-align: center;
	font-size: 7.5em;
}

.auth{
	width:330px;
	height: 250px;
	margin-left: auto !important;
	margin-right: auto !important;
	padding:15px;
}

.auth .input-group, .auth a, .auth .btn{
	margin-top:20px;
}

.auth .btn{
	width: 100%;
}

.panel .btn {
	margin-right: 7px;
}

.title{
	text-align:center;
}
.logo{
	padding: 6px !important;
}
.ipt-search{
	font-size: 12px !important;
	width:180px !important;
}
.avatar{
	padding: 0px !important;
}
.avatar img{
	width:55px !important;
	height:50px !important;
	border-right:2px solid #ddd;
	border-left:2px solid #ddd;
	margin-left:5px;
}
.panel{
	width:100% !important;
}
.panel img{
	float:left !important;
	height: 190px;
	margin: 5px;
}
.searchBloc .btn{
	width:100% !important;
}
.searchBloc .panel-title{
	font-weight: bold;
}
.resultTab{
	background: white;
	text-align:center;
}
.resultTab th{
	text-align:center;
	background: #D8D8D8;
}
.resultTab .fa-download{
	color: green;
	line-height: 1.5;
}
.resultTab .fa-times{
	color: red;
	line-height: 1.5;
}
.resultTab .fa-plug{
	color: #0083a9;
	line-height: 1.5;
}
.resultTab .fa-star, .fa-star-o{
	color: #F7D358;
	line-height: 1.5;
}
.resultTab img{
	width: 55px;
	height: 80px;
}
.resultTab .nameMangaSearch{
	font-size: 17px;
	font-weight: 800;
	text-align:left;
	line-height: 4.1;
}
.bt-disabled{
    cursor: not-allowed;
}
.bt-disabled i{
	pointer-events:none;
	color: white !important;
}
.form_modify_usrprofil img{
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}
.listpage img{
	width: 500px !important;
	height: 600px !important;
}

@media (min-width:768px){

  .navbar-default .navbar-nav > li:not(:last-child) {
    border-right:1px solid #ddd;
   }

  .navbar-default .navbar-nav > li:not(:first-child) {
    border-left:1px solid #fff;
   }

  .navbar-inverse .navbar-nav > li:not(:last-child) {
    border-right:1px solid #000;
   }

  .navbar-inverse .navbar-nav > li:not(:first-child) {
    border-left:1px solid #444;
   }  
}

/* Toasts */
.toast {
	bottom: 24px;
	right: 24px;

	z-index: 9999;
	width: 500px;
	position: absolute;
	padding: 25px;
	
	background-color: whitesmoke;
	border-left: 4px solid black;
	box-shadow: 0px 4px 10px rgba(1, 1, 1, 0.5);

	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

	pointer-events: auto;
}

.toast p{
	white-space: normal;
}

.toast p{
	margin-bottom: 0;
}

.toast.success {
	background-color: #dff0d8;
	border-left-color: green;
}

.toast.info {
	background-color: #d9edf7;
	border-left-color: #337ab7;
}

.toast.warning {
	background-color: #fcf8e3;
	border-left-color: DarkGoldenRod;
}

.toast.error {
	background-color: #f5dede;
	border-left-color: darkred;
}

.toast h2 {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 0;

	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.toast.success h2{
	color: green;
}

.toast.info h2 {
	color: #337ab7;
}

.toast.warning h2 {
	color: DarkGoldenRod;
}

.toast.error h2 {
	color: darkred;
}

#toast_back {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	pointer-events: none;
	background: none !important;

	opacity:1;
}

/* Animations */
@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
	}
	
	80% {
		-webkit-transform: translateY(10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(-30px);
	}
	
	80% {
		transform: translateY(10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes bounceInDown { 
	0% { 
		opacity: 0; 
		-webkit-transform: translateY(-2000px); 
	} 
	60% { 
		opacity: 1; 
		-webkit-transform: translateY(30px); 
	} 
	80% { 
		-webkit-transform: translateY(-10px); 
	} 
	100% { 
		-webkit-transform: translateY(0); 
	} 
} 

@keyframes bounceInDown { 
	0% { 
		opacity: 0;
		transform: translateY(-2000px); 
	} 
	60% { 
		opacity: 1; 
		transform: translateY(30px); 
	} 
	80% { 
		transform: translateY(-10px); 
	} 
	100% { 
		transform: translateY(0); 
	} 
} 

@-webkit-keyframes bounceOutUp {
    0% {
        -webkit-transform: translateY(0);
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateY(20px);
    }
    80% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
}
@keyframes bounceOutUp {
    0% {
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translateY(20px);
    }
    80% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    100% {
        opacity: 0;
        transform: translateY(-2000px);
    }
}

@-webkit-keyframes bounceOutDown {
	0% {
		-webkit-transform: translateY(0);
	}
	
	20% {
		opacity: 1;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
}

@keyframes bounceOutDown {
	0% {
		transform: translateY(0);
	}
	
	20% {
		opacity: 1;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 0;
		transform: translateY(2000px);
	}
}

.bouncy-bottom {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
}

.bouncy-bottom.bounce {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

.bouncy {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
}

.bouncy.bounce {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

/* Tags */
.btn-tag {
	height: 17px;
	line-height: 13px;
	margin-right: 3px;
	margin-left: 0px;
}

.btn.disabled {
	pointer-events: auto;
}

.manga-progress {
	margin-top: 10px;
	background-color: lightgray;
}

.panel-search input[type=text] {
	width: 100%;
	margin-left: -19px;
}

.panel-search button[type=submit] {
	width: 100%;
}

.manga-image {
	text-align: center;	
	margin-bottom: 49px;
}

.manga-image img {
	display: inline-block;
	box-shadow: 0px 0px 15px gray;
}

.manga-image .page-number {
	display: block;
}

.manga-image img.selected {
	box-shadow: 0px 0px 15px lightblue;
}

.manga-image .btn-group {
	margin-bottom: 20px;
	margin-top: -20px;
}

.manga-image .btn-group .btn {
	width: 210px;
}

.manga-controls {
	z-index: 9999;
	position: fixed;
	left: 0;
	width: 150px;
	background-color: #f8f8f8;
	height: 347px;
	border: 1px solid lightgray;
	border-radius: 0 10px 10px 0;
	text-align: center;
}

.manga-controls button {
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}

/* Spinner */
.loader-text {
	 text-align: center;
	 font-size: large;
	 color: darkgrey;
}

.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.8);
	border-right: 1.1em solid rgba(255, 255, 255, 0.8);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.8);
	border-left: 1.1em solid lightblue;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.loader, .loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.options-actions .btn {
	margin-bottom: 8px;
	display: block;
}